.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #e3e3e3;
  background-color: #12141d;
  font-family: 'Roboto', sans-serif;
}

.social_container {
    width: 60px;
    height: 40px;
    display: inline-block;
    color: #e3e3e3;
    text-align: center;
}

ion-icon {
  font-size: 32px;
  color: #e3e3e3;
}

p1 {
  font-size: 13px;
}
