/***********************************/
/************* GENERAL *************/
/***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans', sans-serif;
    width: auto!important; 
    overflow-x: hidden!important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.green {
    color: #49AF81; 
}

/**********************************/
/********* NAVIGATION BAR *********/
/**********************************/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    padding-top: 5em;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.0em;
}

.nav-item {
    margin-left: 5rem;
    padding-left: 1.0em;
    padding-right: 5.0em;
}

.nav-link{
    font-size: 1.75em;
    font-weight: 400;
    color: #333;
    padding-right: 1.3em;
    vertical-align: middle;
}

.nav-logo {
    font-size: 3.7rem;
    font-weight: 800;
    color: #333;
    padding-left: 2.0em;
    padding-top: 0.25em;
}

.button {
    background-color: #49AF81; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.button:hover {
    background-color: #49AF81; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        z-index: 1;
        position: relative;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
        margin-left: 0rem;
        padding-left: 0.0em;
        padding-right: 0.0em;
    }

    .nav-logo {
        font-size: 3.7rem;
        font-weight: 800;
        color: #415F8F;
        padding-left: 0.1em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #333;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #49AF81; 
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/**********************************/
/************* ABOUT **************/
/**********************************/
/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    margin: auto;
    width: 75%;
    padding-top: 75px;
    padding-bottom: 75px;
}
  
/* Clear floats after the columns */  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }
}
  
.hello {
    font-family: 'Freehand', cursive;
    font-size: 150px;
    color: #49AF81; 
}

.headshot {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    float: right;
} 

.about-text{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
}

.facts-text{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 40px;
}

.quote {
    width: 75%;
    margin: auto;
    font-size: 40px;
    text-align: right;
}

.quote-bg {
    background-color: white;
    padding-top: 450px;
}

/* Float four columns side by side */
.column-1 {
    float: left;
    width: 20%;
    padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding */
.row-1 {
    margin: 0 -5px;
    width: 100%;
    margin: auto;
    background-color: rgb(73, 175, 129, 0.3);
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-bottom: 75px;
}
  
  /* Clear floats after the columns */
.row-1:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column-1 {
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }
}
  
/* Style the counter cards */
.card-1 {
    padding: 16px;
    text-align: center;
}


/**********************************/
/*********** EXPERIENCE ***********/
/**********************************/
.mission-title {
    width: 75%;
    margin: auto;
    font-size: 50px;
    text-align: right;
    padding-bottom: 30px;
}

.mission {
    width: 75%;
    margin: auto;
    font-size: 18px;
    text-align: right;
    padding-bottom: 30px;
    padding-left: 27%;
    line-height: 30px;
}

.experience-title {
    width: 75%;
    margin: auto;
    font-size: 35px;
    text-align: left;
}

.column-2 {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding */
.row-2 {
    margin: 0 -5px;
    margin: auto;
    width: 75%;
    padding-top: 30px;
    margin-bottom: 75px;
}
  
/* Clear floats after the columns */
.row-2:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-2 {
      width: 100%;
      display: block;
      margin-bottom: 60px;
    }

    .mission-title {
        margin: auto;
        font-size: 50px;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .mission {
        width: 100%;
        margin: auto;
        font-size: 18px;
        text-align: left;
        padding-bottom: 30px;
        line-height: 30px;
        padding-right: 27%;;
    }
}
  
  /* Style the counter cards */
.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f5f5f5c4;
    border-radius: 20px;
    height: 250px;
}

.ex-text{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
}


/**********************************/
/************ PROJECTS ************/
/**********************************/
.project-title {
    width: 75%;
    margin: auto;
    font-size: 35px;
    text-align: left;
}

.card-3 {
    padding: 16px;
    text-align: center;
    height: 400px;
    border-radius: 20px;
}

.row-3 {
    margin: 0 -5px;
    margin: auto;
    width: 75%;
    padding-top: 40px;
    padding-bottom: 75px;
}

.column-3 {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.space {
    padding: 175px;
}

.title {
    text-align: left;
    font-size: 60px;
}

.blurb {
    text-align: left;
    font-size: 18px;
}

.button1 {
    border: 2px solid #49AF81;  /* Green */
    color: #333;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    border-radius: 10px;
}

.button1:hover {
    background-color: #49AF81;  /* Green */
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    border-radius: 10px;
}

.pse {
    border-radius: 20px;
    margin-top: 40px;
}


/**********************************/
/************* FOOTER *************/
/**********************************/
footer {
    text-align: center;
    padding: 20px;
    font-size: 1.6em;
    color: #333;
}

ion-icon {
    color: #333;
    font-size: 30px;
}

a footer {
    text-decoration: none;
}

.social {
    padding-left: 3em;
}

@media screen and (max-width: 600px) {
    footer {
        padding-bottom: 80px;
    }
}
