/****************************************************/
/********************** NAVBAR **********************/
/****************************************************/
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: white;
  color: black;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/****************************************************/
/********************** ABOUT ME ********************/
/****************************************************/
.aboutme {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left:15%;
  width: 70%;
}

/****************************************************/
/********************** TIMELINE ********************/
/****************************************************/

.timeline_padding {
  padding-top: 120px;
  padding-bottom: 50px;
  margin-left:11%;
  width: 70%;
}

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: 'Roboto', sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #2e5e9e;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid  #2e5e9e;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 28px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/****************************************************/
/********************** PROJECTS **********************/
/****************************************************/

.projects {
  padding-top: 50px;
  padding-left: 11%;
  padding-right: 11%;
  width: 100%;
}

/****************************************************/
/********************** CARDS **********************/
/****************************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: white;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/****************************************************/
/****************** HALF HIGHLIGHT ******************/
/****************************************************/

.half_highlight_blue {
  background: linear-gradient(to top, #A8D0E6 50%, transparent 30%);
}

.half_highlight_yellow {
  background: linear-gradient(to top, #F8E9A1 50%, transparent 30%);
}

/****************************************************/
/************************ P *************************/
/****************************************************/

p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

p2 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

u {
  color: #F76C6C;
}


/****************************************************/
/******************** FUN FACTS *********************/
/****************************************************/

.fun_facts {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #4170ab;
  position: absolute;
  width: 100%;
}


.counting-sec {
  padding: 40px 0;
  width: 100%;
  background: #02234d;
}

.inner-width {
  max-width: 1100px;
  margin: auto;
  display: flex;
}

.col {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: lowercase;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.num {
  font-size: 25px;
  margin: 20px 0;
}

/****************************************************/
/******************** FOOTER *********************/
/****************************************************/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: white;
  text-align: center;
}

.social_container {
    width:60px;
    height:40px;
    display: inline-block;
}

p2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
